@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Styling */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    background: #EFF2F8;
}

header {
    width: 100%;
    height: 60px;
    background: #10044A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo img {
    height: 40px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 3px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #10044A;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #10044A;
    background: #fefefe;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 40px;
    background-color: #ffffff;
}

.heading:after {
    content: " ";
    display: block;
    border-bottom: 3px solid #FF1493;
    width: 40%;
  }
.box.one {
    width: 75%;
}

.box.one h3 {
    color: #0E072C;
    font-size: 24px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 20px;
}

.box.one .payment-option {
    display: flex;
    flex-direction: row;
}

.box.one .payment-option .option {
    padding: 20px 30px;
    cursor: pointer;
}

.box.one .payment-option .option.one {
    padding-left: 40px;
}
#creditCardForm a{
    color: #00B2E5;
}
#debitCardForm a{
    color: #00B2E5;
}
#upiForm a{
    color: #00B2E5;
}
#netBankingForm a{
    color: #00B2E5;
}

i{
    font-size: 12px;
    cursor: pointer;
}

form {
    margin: 5px 40px 30px 40px;
}

label {
    font-size: 14px;
    font-weight: 500;
}

input:not([type="checkbox"]) {
    background: #D9D9D9;
    border: none;
    border-radius: 3px;
    margin: 0 0 15px;
    padding: 6px 10px 6px;
    width: 50%;
    height: 40px;
}

input[type="tel"]:not([name="name"], [name="credit-number"]) {
    width: 15%;
}
input[name="credit-number"] {
    min-width: 200px;
}

input[type="submit"] {
    margin-top: 20px;
    width: 100px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

input[type="submit"].form-submit {
    background: #00B2E5;
    color: #fff;
    border-radius: 5px;
}

input[type="submit"].form-submit:hover {
    background: #10044A;
}

input[type="submit"].form-cancel {
    color: #10044A;
    border-radius: 5px;
}

select {
    width: 200px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    margin: 0 0 15px 0;
    color: #333;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
.payment-option .option:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF1493;
    transition: width 0.3s;
}

.payment-option .option:hover:after,
.payment-option .option.active:after {
    width: 100%;
}

.box.two {
    width: 50%;
    height: 400px; 
    position: relative;
}

.box.two::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 3px solid #10044A;
    height: 80%; 
}
.box.two h3 {
    color: #0E072C;
    font-size: 24px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 20px;
}

table {
    margin: 40px;
    width: 100%;
}

td {
    padding: 0 15px 10px 15px;
}
#grand-total{
    font-weight: 600;
}

p {
    margin-left: 40px;
}
.footer{
    background: #0E072C;
    height: 400px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}


/* Media Queries */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 25px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #10044A;
        transition: 0.3s;
        overflow: hidden;
        z-index: 2;
    }

    .nav-bar.active {
        height: 350px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .flex-container {
        flex-direction: column-reverse;
    }

    .box.one {
        width: 100%;
    }
    .box.one .payment-option .option {
        padding-right: 6px;
        font-size: 16px;
    }

    .box.two {
        width: 100%;
        height: 380px; 
    }
    .box.two::before {
        height: 0; 
    }
}